<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<input type="text" id="i1">+
<input type="text" id="i2">=
<input type="text" id="a1">
<input type="button" id="a2" value="计算">

<script src="/static/jquery-3.2.1.min.js"></script>
<script>
    $("#a2").on("click",function () {

        $.ajax({
            url: "/add_ajax/",
            type:"get",
            dataType:"json",
            data:{
                'i1':$("#i1").val(),
                'i2':$("#i2").val()
            },
            success:function (arg) {

                $("#a1").val(arg);
            }
        })
    })
</script>
</body>
</html>